body {
    background:lavender;
    box-sizing:border-box;
    font-family: 'Ubuntu', sans-serif;
}
.main{
    width:100%;
    height:100vh;
    background:lavender;
    box-sizing:border-box;
}
.nav{
    width:100%;
    height:150px;
    background:transparent;
    overflow:hidden;
    display: flex;
    align-items:center;
    justify-content:space-between;
    overflow:hidden;
}
.logo{
    width:200px;
    height:30px;
    padding:1rem;
    background:transparent;
    display: flex;
    align-items:center;
    justify-content:center;
    padding:1rem;
}
.logo span{
    position:absolute;
    font-size:3em;
    font-weight:bolder;
    left:20px;
}
.logo-txt-1{
    -webkit-text-stroke:1px #202020;
    color:transparent;
}
.logo-txt-2{
    color:#202020;
    overflow:hidden;
    border-right:5px solid orangered;
    animation:stroke 5s ease-in-out infinite;
}
.account-btn{
    width:auto;
    height:auto;
    background:dodgerblue;
    padding:1.5rem;
    font-size:2.7em;
    font-weight:bolder;
    position:absolute;
    left:80%;
    color:lavender;
    border:none;
    border-radius:0.5rem;
}
.get-started-page{
    width:100%;
    height:500px;
    border-radius:0.5rem;
}
.get-started-txt{
    color:#333;
    font-size:5em;
    font-weight:bolder;
}
.get-started-txt span{
    position:absolute;
    top:300px;
    left:70px;
}
.get-started-txt small{
    font-size:0.4em;
    position:absolute;
    top:410px;
    left:70px;
}
.get-started-txt button{
    padding:1.5rem;
    background:darkcyan;
    color:lavender;
    font-size:40px;
    font-weight:bolder;
    border:none;
    position:absolute;
    top:480px;
    left:70px;
    display: flex;
    align-items:center;
    justify-content:space-around;
}
.cube{
    width:200px;
    height:200px;
    position:absolute;
    top:290px;
    left:710px;
    transform-style:preserve-3d;
    transform:rotate3d(1,1,1,45deg);
    transition:transform 2s;
    animation:spin 5s linear infinite;
}
.cube div{
    width:200px;
    height:200px;
    position:absolute;
}
.cube .left{ 
background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

    transform:rotateY(90deg)       translateZ(-100px) translateX(100px);
}
.cube .right{ 
background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    transform:rotateY(90deg)
     translateZ(100px) translateX(100px);
}
.cube .top{ 
background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

    transform:rotateX(90deg) translateY(-100px) translateZ(100px);
}
.cube .bottom{ 
background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

    transform:rotateX(90deg) translateY(-100px) translateZ(-100px);
}
.cube .front{ 
background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

    transform:translateZ(-200px);
}
.cube .rear{ 
background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}
.divider{
    width:80%;
    height:10px;
    background:linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    margin:auto;
    border-radius:2rem;
}
.projects{
    width:100%;
    height:1000px;
    border:1px solid red;
}
.projects h1{
    background:    -webkit-linear-gradient(45deg,orange,green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size:4em;
    font-weight:bolder;
    display: flex;
    align-items:center;
    justify-content:center;
}
.carousel{
    width:95%;
    height:700px;
    margin:auto;
    overflow:scroll;
    display: flex;
    align-items:center;
    justify-content:center;
}
.left-carousel-arrow{
    width:100px;
    height:100px;
    background:#202020;
    padding:1rem;
    border-radius:0.5rem;
    display: flex;
    align-items:center;
    justify-content:center;
}
.right-carousel-arrow{
    width:100px;
    height:100px;
    background:#202020;
    padding:1rem;
    border-radius:0.5rem;
    display: flex;
    align-items:center;
    justify-content:center;
}
.top-projects{
    width:80%;
    height:700px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.top-projects div{
    position:absolute;
}
.hash-1{
    width:650px;
    height:600px;
    background:aliceblue;
    border-radius:0.5rem;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}
.hash-2{
    width:650px;
    height:600px;
    background:aqua;
    border-radius:0.5rem;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}
.hash-3{
    width:650px;
    height:600px;
    background:indianred;
    border-radius:0.5rem;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}
.hash-4{
    width:650px;
    height:600px;
    background:aquamarine;
    border-radius:0.5rem;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
}
@keyframes stroke {
    0%{
        width:0px;
    }
    50%{
        width:220px;
    }
    100%{
        width:0px;
    }
}
@keyframes spin {
    0%{
        transform:rotate3d(1,1,1,45deg);
    }
    25%{
        transform:rotateX(45deg);
    }
    50%{
        transform:rotateY(45deg);
    }
    75%{
        transform:rotateZ(45deg);
    }
    100%{
        transform:rotate3d(1,1,1,45deg);
    }
}
